 .cities-banner{
  background-image:url('https://images.unsplash.com/photo-1542353436-312f0e1f67ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=642&q=80');
  height: 100vh;   
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 }

 .feature-section{
  display:grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-around;
 }
 .feature-section div{
 margin: 2.5rem 0;
 background-color: whitesmoke;
 padding: 7px;
 border-radius: 5px;
 border-left: 5px solid rgb(143, 216, 33);
 }
 .feature-section div h5{
 font-size: 26px;
 font-weight: 700;
 color: rgb(255, 153, 0);
 }
 .feature-section div p{
 font-size: 16px;
 font-weight: normal;
 text-align:center;
 color: rgb(46, 44, 44);
 }
 @media(max-width:900px){
  .feature-section{
    grid-template-columns: auto;
  }
  .feature-section div h5{
    font-size: 20px;
    font-weight: 500;
  }
  .feature-section div p{
    font-size: 12px;
  }
  
 }