.headers a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}
.headers button{
    color: white;
    background-color: darkorange;
    margin-left: 20px;
    font-weight: 500;
}
.headers{
    margin-bottom: 15px;
    margin-top: 5px;
}
 
 .logo{
     color: crimson;
     text-align: center;
     align-items: center;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }