.footer-container {
    background-color:black;
    padding: 50px;
    color: rgb(216, 209, 209);
    margin-top: 10px;
     
  }

.icon {
    margin: 5px;
    padding: 5px;
    background-color: rgb(46, 46, 46);
    color: rgb(155, 155, 155);
    font-size: 30px;
  }
  .icon:hover {
    background-color: goldenrod
  }

  .foter-phone-icon {
    font-size: 30px;
    color:blue;
  }
  