.banner {
    background-image: url('https://image.freepik.com/free-vector/isolated-airplane-background_1441-777.jpg') ;
    height: 450px;
    
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
  }
  .color{
      color: blue;
  }